@model List<SCMS.Models.ViewModels.StoryVM>

@{
    ViewBag.Title = "Index";
}

<h2>Stories Approval</h2>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Intimacy</th>
                    <th>Hashtag</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Title </td>
                        <td>@s.Category.Description </td>
                        <td>@s.Intimacy.Description </td>
                        <td>@s.HashtagWord</td>
                        <td>@Html.ActionLink("Detail", "ViewStory", "StoryApproval", new { id = s.StoryId }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>