@model SCMS.Models.Story

@{
    ViewBag.Title = "ViewStory";
}

<div class="row">
    <div class="col-xs-12">
        <h3>User Story For Approval</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Approve", "StoryApproval", FormMethod.Post))
        {
            @Html.HiddenFor(c => c.StoryId)
            <br />
            <label>Title: @Html.DisplayFor(m => m.Title)</label>
            <br />
            <span>@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</span>
            <br /><br />
            <label>Feedback</label>@Html.ValidationMessageFor(m=>m.Feedback)
            @Html.TextAreaFor(s => s.Feedback, new { @class = "form-control" })
            <hr />
            <div class="divSave">
                <button type="submit" class="btn btn-primary" name="Save" value="Approve" style="width:80px" >Approve</button>
                <button type="submit" class="btn btn-primary" name="Denied" value="Denied">Denied</button>
                @Html.ActionLink("Cancel", "Index", "StoryApproval", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>