@model SCMS.Models.Info

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-xs-12">
        <h3>Edit Story</h3>
    </div>
</div>

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- tinymce script reference -->
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- script to wire up your tinymce editor -->
    <script type="text/javascript">
        // initialize your tinymce editor with your preferred options
        tinymce.init({
            height: "450",
            mode: "textareas",
            theme: "modern",
            // theme options
            theme_advanced_buttons1: "bold,italic,underline, fontselect, fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|bullist, numlist,|indent,undo, redo,|link, unlink, image, cleanup|insertdate, inserttime, preview,|forecolor, backcolor",
            theme_advanced_buttons4: "insertfile, insertimage",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    </script>
</head>
<body>

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Edit", "Info", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.InfoId)
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control", placeholder = "Title" })
                    <label>Display Start Date</label><br />
                    @Html.EditorFor(m => m.FDate, null, new { @class = "form-control" })<br />
                    <label>Display End Date</label><br />
                    @Html.EditorFor(m => m.TDate, null, new { @class = "form-control" })<br />
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    <hr />
                    <div class="divSave">
                        <button type="submit" class="btn btn-primary">Save</button>
                        @Html.ActionLink("Cancel", "List", "Story", null, new { @class = "btn btn-info" })
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>