<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - SCMS</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/SCMS.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					@Html.ActionLink("Story Content Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
					<li>
						@Html.DropDownList("url", new SelectList(new[]{
						new SelectListItem {Text = "Log In", Value = Url.Action("Login", "Auth") },
						new SelectListItem {Text = "Log Out", Value = Url.Action("Logout", "Home") },
						new SelectListItem {Text = "Sign Up", Value = Url.Action("SignUp", "SignUp") },
						new SelectListItem {Text = "Profile", Value = Url.Action("Profile", "Profile") },
						new SelectListItem {Text = "Category", Value = Url.Action("List", "Category") },
						new SelectListItem {Text = "Intimacy", Value = Url.Action("List", "Intimacy") },
						new SelectListItem {Text = "Blog", Value = Url.Action("Blog", "Blog") },
						new SelectListItem {Text = "Info", Value = Url.Action("List", "Info") },
						new SelectListItem {Text = "User", Value = Url.Action("List", "User") },
						new SelectListItem {Text = "Reset Password", Value = Url.Action("ResetPassword", "ResetPassword") },
						new SelectListItem {Text = "Approval Page", Value = Url.Action("Index", "StoryApproval") },

					   },
						"Value", "Text"), "--Jump To--", new { id = "urlddl" })
				</li>
					@*@Html.ActionLink("Story Content Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
						@Html.ActionLink("Log In | ", "Login", "Auth", null, new { @class = "navbar-right" })
						@Html.ActionLink("Log Out | ", "Logout", "Home", null, new { @class = "navbar-right" })
						@Html.ActionLink("Sign Up | ", "SignUp", "SignUp", null, new { @class = "navbar-right" })
						@Html.ActionLink("Profile | ", "Profile", "Profile", null, new { @class = "navbar-right" })
						@Html.ActionLink("Category | ", "List", "Category", null, new { @class = "navbar-right" })
						@Html.ActionLink("Intimacy | ", "List", "Intimacy", null, new { @class = "navbar-right" })
						@Html.ActionLink("Blog | ", "Blog", "Blog", null, new { @class = "navbar-right" })
						@Html.ActionLink("Info | ", "List", "Info", null, new { @class = "navbar-right" })
						@Html.ActionLink("User | ", "List", "User", null, new { @class = "navbar-right" })
						@Html.ActionLink("Reset Password | ", "ResetPassword", "ResetPassword", null, new { @class = "navbar-right" })
						@Html.ActionLink("Approval Page | ", "Index", "StpryApproval", null, new { @class = "navbar-right" })*@
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - SCMS</p>
		</footer>
	</div>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/scms.js"></script>

</body>
</html>