@model SCMS.Models.ViewModels.StoryVM

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Story</h3>
        @Html.ActionLink("Return to home page", "Home", "Home")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "Story", FormMethod.Post))
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryId)
                @Html.HiddenFor(m => m.UserId)
                <label>Category</label>
                @Html.DropDownListFor(m => m.CategoryId, Model.CategoryItems, "-Choose One-", new { @class = "form-control", placeholder = "Title" })
                <label>Intimacy Level</label>
                @Html.DropDownListFor(m => m.IntimacyId, Model.IntimacyItems, "-Choose One-", new { @class = "form-control", placeholder = "Title" })
                <label>Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                <label>Tag</label>
                @Html.TextBoxFor(m => m.HashtagWord, new { @class = "form-control", placeholder = "Hashtag" })
                <label>Story</label>
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", placeholder = "Write your story here!" })
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                @Html.ActionLink("Cancel", "List", "Story", null, new { @class = "btn btn-sm btn-info" })
            </div>
        }
    </div>
</div>

