
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Logout", "Logout", "Home")<br />
@Html.ActionLink("Reset Password", "ResetPassword", "ResetPassword")<br />
@Html.ActionLink("User", "List", "User")<br />
@Html.ActionLink("Category", "List", "Category")<br />
@Html.ActionLink("Intimacy", "List", "Intimacy")<br />
<<<<<<< HEAD
@Html.ActionLink("Story", "Add", "Story")<br />
@Html.ActionLink("Stories Pending Approval", "Index", "StoryApproval")<br/>
=======
@Html.ActionLink("Admin Information", "List", "Info")<br />
@Html.ActionLink("Story List", "List", "Story")<br />
@Html.ActionLink("Add Story", "Add", "Story")<br />
@Html.ActionLink("Edit Story (Story Id = 12)", "Edit", "Story", new { storyId = 12 }, null)<br />
@Html.ActionLink("Delete Story (Story Id = 13)", "Delete", "Story", new { storyId = 13 }, null)<br />
>>>>>>> origin
