
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Logout", "Logout", "Home")<br />
@Html.ActionLink("Reset Password", "ResetPassword", "ResetPassword")<br />
@Html.ActionLink("User", "List", "User")<br />
@Html.ActionLink("Category", "List", "Category")<br />
@Html.ActionLink("Intimacy", "List", "Intimacy")<br />
@Html.ActionLink("Story", "Add", "Story")<br />