@model SCMS.Models.ViewModels.HomeVM
@{
	ViewBag.Title = "Index";
}

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SCMS</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		  crossorigin="anonymous">
</head>

<body>

		<div class="container-fluid">
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
	<div class="col-sm-3" id="searchField">
		<br />
		<h5>Category</h5>
		@for (int i = 0; i < Model.Category.Count; i++)
		{
		@*@foreach (var c in Model.Category)*@
		
			<p>
				@Html.CheckBoxFor(c => c.Category[i].isSelected)
					<span>@Model.Category[i].Description</span>
					@Html.HiddenFor(c => c.Category[i].CategoryId)
				@*<input type="checkbox" name="category" id="category" />
				<span>@c.Description</span>*@
			</p>
		}
		<hr />
		<h5>Intimacy Level</h5>

		@for (int i = 0; i < Model.Intimacy.Count; i++)
		{
		@*@foreach (var i in Model.Intimacy)*@

			<p>
				@Html.CheckBoxFor(z => z.Intimacy[i].isSelected)
					<span>@Model.Intimacy[i].Description</span>
					@Html.HiddenFor(z => z.Intimacy[i].IntimacyId)
				@*<input type="checkbox" name="intimacy" id="intimacy" />
				<span>@i.Description</span>*@
			</p>
		}

		<hr />
		<div class="form-group">
			<h5>Search User</h5>
			<p>
				<label></label>
				<input type="text" name="User" />
			</p>
			<h5>Search Title</h5>
			<p>
				<label></label>
				<input type="text" name="Title" />
			</p>
			<h5>Search Hash Tags</h5>
			<p>
				<label></label>
				<input type="text" name="Hashgtag" />
			</p>
		</div>
		<button type="submit" id="submit button" class="btn btn-primary" onclick="searchClick">Search</button>
	</div>

	<div class="col-sm-9">
		<center>
			<h4>
				<small>FEATURED STORY</small>
			</h4>
		</center>

		@foreach (var s in Model.Story)
		{
			<div class="row" style="background-color:transparent;">
				<a href="@Url.Action("StoryView", "StoryView")" id="title">@s.Title</a><br />
				<span class="label label-danger">@s.Category.Description</span>
				<span class="label label-primary">@s.HashtagWord</span><br />
				<span>Post by: @Model.User.FirstOrDefault(u => u.Id == s.UserId).Nickname </span>
				<br />
				@s.Content
				<br />
				<hr />
			</div>
			<p></p>
		}
	</div>
}
		</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@2.3.4"></script>

</body>

</html>
