@model SCMS.Models.ViewModels.HomeVM
@{    
    ViewBag.Title = "Index";
}

<div class="container-fluid"  style="margin-top:25px">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-sm-3" id="searchField">
            <div class="panel-group  panel-primary" style="border-style:solid">
                <div class="panel-heading">
                    Category
                </div>
                <div class="panel-body">
                    @for (int i = 0; i < Model.Category.Count; i++)
                    {
                        <p>
                            @Html.CheckBoxFor(c => c.Category[i].isSelected)
                            <span>@Model.Category[i].Description</span>
                            @Html.HiddenFor(c => c.Category[i].CategoryId)
                        </p>
                    }
                </div>
            </div>

            <div class="panel-group  panel-primary" style="border-style:solid">
                <div class="panel-heading">
                    Intimacy Level
                </div>
                <div class="panel-body">
                    @for (int i = 0; i < Model.Intimacy.Count; i++)
                    {
                        <p>
                            @Html.CheckBoxFor(z => z.Intimacy[i].isSelected)
                            <span>@Model.Intimacy[i].Description</span>
                            @Html.HiddenFor(z => z.Intimacy[i].IntimacyId)
                        </p>
                    }

                </div>
            </div>

            <div class="panel-group  panel-primary" style="border-style:solid">
                <div class="panel-heading">
                    Other Filter
                </div>
                <div class="panel-body">
                    <label>Nick Name</label>
                    @Html.TextBoxFor(m => m.UserNameSearch, new { @class = "form-control", placeholder = "Search by nick name" })
                    <label>Title</label>
                    @Html.TextBoxFor(m => m.TitleSearch, new { @class = "form-control", placeholder = "Search by title" })
                    <label>Hashtag</label>
                    @Html.TextBoxFor(m => m.HashtagSearch, new { @class = "form-control", placeholder = "Search by hashtag" })
                </div>
            </div>
            <hr />
            <div class="divSave">
                <button type="submit" id="submit button" class="btn btn-primary" onclick="searchClick">Search</button>
            </div>

        </div>

        <div class="col-sm-9">
            @foreach (var s in Model.StoryVM)
                {
                <div class="row" style="background-color:transparent;">
                    <h3> @s.Title</h3>
                    <span class="label label-danger">@s.Category.Description</span>
                    <span class="label label-primary">@s.HashtagWord</span>
                    <span class="label label-danger">@s.Intimacy.Description</span><br />
                    <span><b>Posted by: @Model.User.FirstOrDefault(u => u.Id == s.UserId).Nickname </b></span>
                    <br /><br />
                    @Html.Raw(HttpUtility.HtmlDecode(@s.Content))
                    <br />
                    <hr />

                </div>
            }
        </div>
    }
</div>
