@model SCMS.Models.NewUser
@{
    ViewBag.Title = "SignUp";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>New User</legend>
		@Html.AntiForgeryToken()
		@if (ViewBag.Message != null)
		{
			<div style="border:solid 1px green">
				@ViewBag.Message
			</div>
		}
		<div class="editor-label">
			@Html.LabelFor(m => m.UserName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.UserName)
			@Html.ValidationMessageFor(m => m.UserName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.LabelFor(m => m.ConfirmPassword)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.ConfirmPassword)
			@Html.ValidationMessageFor(m => m.ConfirmPassword)
		</div>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</fieldset>
	<div>
		@Html.ActionLink("Return to Home Page", "SignUp")
	</div>
}
@*@section Scripts
		{
		@Scripts.Render("~/bundles/jqueryval")
	}*@

